* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #121212;
    --main-surface-color: #242424;
    --main-text-color: #eee;
    --main-shadow: 0 3px 6px rgba(255, 255, 255, 0.16),
      0 3px 6px rgba(255, 255, 255, 0.23);
    --main-bg-img: url("https://www.transparenttextures.com/patterns/diagmonds.png");
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #eee;
    --main-surface-color: rgb(252, 247, 247);
    --main-text-color: #000;
    --main-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    --main-bg-img: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
  }
}

html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: var(--main-bg-color);
  background-image: var(--main-bg-img);
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f5ba13;
  background-image: url("https://www.transparenttextures.com/patterns/twinkle-twinkle.png");
  padding: 6px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}



#search-bar-container {
  margin-top: 0.5%;
  height: 100%;
  width: 20%;
}

#search-bar {
  height: 100%;
  width: 100%;
  display: flex;
  background: var(--main-surface-color);
  color: var(--main-text-color);
  padding: 2%;
  border-radius: 5px;
}

#search-bar > input {
  flex: 1;
  padding: 2%;
  font-size: 1.1em;
  border: none;
  background: var(--main-surface-color);
  outline: none;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: var(--main-text-color);
}
.note {
  background: var(--main-surface-color);
  color: var(--main-text-color);
  border-radius: 7px;
  /* box-shadow: 0 2px 5px #ccc; */
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
  box-shadow: var(--main-shadow);
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 25%;
  height: 36px;
  cursor: pointer;
  outline: none;
  /* background: var(--main-surface-color); */
  background: var(--main-surface-color);
  justify-content: center;
}

form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: var(--main-surface-color);
  padding: 15px;
  border-radius: 7px;
  /* box-shadow: 0 1px 5px rgb(138, 137, 137); */
  box-shadow: var(--main-shadow);
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  background: var(--main-surface-color);
  color: var(--main-text-color);
}
form .form-button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: var(--main-text-color);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: var(--main-shadow);
  cursor: pointer;
  outline: none;
}
